@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(london.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container {
    /* border: 10px solid green; */
    color: antiquewhite;
    position: absolute;
    top: 55%;
    left: 40%;
}

.container h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    border-bottom: 5px solid purple;
    margin-bottom: 30px;
    padding: 10px 0;
}

.box1 {
    width: 100%;
    /* border: 2px solid red; */
    border-bottom: 2px solid aqua;
}

.box2 {
    width: 100%;
    border-bottom: 2px solid orangered;
    /* border: 2px solid aqua; */
}

.box1 input {
    background: none;
    width: 70%;
    margin: 10px 0px;
    padding: 5px 1 0px;
    font-size: 20px;
    border: none;
    outline: none;
    color: wheat;
}

.box2 input {
    background: none;
    width: 50%;
    margin: 10px 0px;
    padding: 5px 10px;
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
}

.box1 i {
    padding: 0px 5px;
    width: 25px;
    text-align: center;
}

.box2 i {
    padding: 0px 5px;
    width: 25px;
    text-align: center;
}

.btn {
    color: white;
    cursor: pointer;
    outline: none;
    /* width: 5px ; */
    margin: 10px 0;
    padding: 5px;
    border-radius: 2px solid orange;
    border-radius: 8px;
    font-size: 15px;
    background: none;
}

.btn:hover {
    color: blue;
    background: red;
}